html, body {
  margin: 0;
  padding: 0;
  font-family:'Arial Narrow', Arial, sans-serif;
  font-style: italic;
}

canvas {
  display: block;
}

button {
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  margin: 10px 0 10px 10px;
  
}

#myCanvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow-y: hidden;
  position: fixed;
  background-size: cover;
}