html, body {
  margin: 0;
  padding: 0;
  font-family:'Arial Narrow', Arial, sans-serif;
  font-style: italic;
}

canvas {
  display: block;
}

label {
  background-color: rgba(255,255,255,0.8);
}
button {
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  margin: 10px 0 10px 10px;
  
}

#p5Canvas, #myCanvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow-y: hidden;
  position: fixed;
  background-size: cover;
}

#cameras button {
  float: left;
}

.capture{
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  margin: 10px 0 10px 50px;
}

#hello-world-app {
  padding: 50px;
  z-index: 3;
}
